.header {
  background-color: #21222C;
  color: #FFFFFF;
  height: 116px;
  padding: 10px 20px;
  border-bottom: 2px solid #17181E;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 500px;
}
