@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper {
  width: 55rem;
  background: #fff;
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data {
  position: relative;
  margin: 2rem 0;
}

.wrapper .btn-area {
  position: relative;
  margin: 2rem 0;
  display: flex;
  justify-content: right;
}

.wrapper .name {
  height: 4rem;
  width: 68%;
}

.wrapper .tel {
  height: 4rem;
  width: 28%;
  float: right;
}

.wrapper .email {
  height: 4rem;
  width: 100%;
}

.wrapper .message {
  height: 15rem;
}

.wrapper .input-data input,
.wrapper .input-data textarea {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.7rem;
  background: linear-gradient(90deg, #4158d0, #4158d0) left bottom/0 2px no-repeat,
              linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
              linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.wrapper .input-data textarea {
  resize: none;
  margin: 1rem 0;
}

.wrapper .input-data label {
  position: absolute;
  bottom: 1rem;
  left: 0;
  color: gray;
  pointer-events: none;
  font-size: 1.7rem;
}

.wrapper .input-data input:focus + label {
  transform: translateY(-2rem);
  color: #4158d0;
}

.wrapper .input-data textarea:focus + label {
  transform: translateY(-12.5rem);
  color: #4158d0;
}

.wrapper .input-data .input:not(:placeholder-shown).input:not(:focus) + label {
  transform: translateY(-2rem);
}

.wrapper .input-data .textarea:not(:placeholder-shown).textarea:not(:focus) + label {
  transform: translateY(-12.5rem);
}

.wrapper .input-data input:focus,
.wrapper .input-data textarea:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

.wrapper .btn-area .submit-btn {
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  border: 2px solid #ccc;
  color: gray;
}

.wrapper .btn-area .submit-btn:hover {
  border: 2px solid #4158d0;
}
