:root {
	--main-bg-color: #262626;
	--gradient-start-color: #e91e63;
	--gradient-end-color: #2196f3;
}
/* Zerando os parametros do browser */
  /* Zerando todos os parâmetros */
    * {
      margin: 0; padding: 0;
      text-transform: none;
      text-decoration: none;
      box-sizing: border-box;
      font-family: sans-serif;
      outline: none; border: none;
      background: #fff; color: #000;
      transition: none; transition-delay: 0s;
    }
  /* Fim */
  /* Definindo fontes para usar REM e o SnapIn no eixo Y */
    html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: y proximity;
    }
  /* Fim */
  /* Ocultando as barras de rolagem */
    html::-webkit-scrollbar {
      display: none;
    }
  /* Fim */
/* Fim */

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  background: var(--main-bg-color);
  overflow: hidden;
}

.hex-grid {
	height: 100vh;
}

.hex-grid .grid {
	position: absolute;
	top: 0; left: 0;
	background: url(../images/grid.svg) repeat;
	background-size: 500px;
	width: 100%; height: 100%;
	z-index: 0;
}

.hex-grid .light {
	position: absolute;
	width: 15em; height: 15em;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: linear-gradient(90deg, var(--gradient-start-color), var(--gradient-end-color));
	animation: changeColor 5s linear infinite;
	z-index: 0;
}

.hex-grid .light::before {
	content: '';
	position: absolute;
	width: 150%; height: 150%;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	filter: blur(20px);
	background: inherit;
}

@keyframes changeColor {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(365deg);
	}
}

/* Se o dispositivo não tem um apontador ou se tem qualquer tipo de apontador, mas ele é do tipo grosseiro */
@media (hover: none), (any-hover: hover) and (pointer: coarse) {
	.container {
		background: linear-gradient(90deg, var(--gradient-start-color), var(--gradient-end-color));
		animation: changeColor 5s linear infinite;
	}

	.hex-grid .light {
		display: none;
	}
}



/* Se o dispositivo esta na orientação RETRATO */
@media screen and (orientation: portrait) {}
/* Se o dispositivo esta na orientação PAISAGEM */
@media screen and (orientation: landscape) {}
/* Se o dispositivo tem com comprimento máximo da tela de 1024px      LAPTOP       */
@media screen and (max-width: 1024px) {}
/* Se o dispositivo tem com comprimento máximo da tela de 768px       TABLET       */
@media screen and (max-width: 768px) {}
/* Se o dispositivo tem com comprimento máximo da tela de 425px      CELULAR G     */
@media screen and (max-width: 425px) {}
/* Se o dispositivo tem com comprimento máximo da tela de 375px      CELULAR M     */
@media screen and (max-width: 375px) {}
/* Se o dispositivo tem com comprimento máximo da tela de 320px      CELULAR P     */
@media screen and (max-width: 320px) {}
