:root {
  /* Dimensões dos cubos */
  --cube1_width: 100px;
  --cube1_height: 100px; 
  --cube2_width: 200px;
  --cube2_height: 200px;
  /* Cores dos cubos */
  --cube1_main: #7c5fa5;
  --cube1_top: #0f0f18;
  --cube2_main: #430c91;
  --cube2_top: #110325;
  /* Paleta de cores */
  --contact-title-color: #7C5FA5;
  --contact-first-color: #430c91;
  --contact-input-color: #DADCE0;
  --contact-border-color: #80868B;
  --contact-bg-color: #161623;

  --contact-font: 'Roboto', sans-serif;
  --contact-normal-font-size: 1rem;
  --contact-small-font-size: 0.75rem;
}

section.sec6 {
  background: var(--contact-bg-color);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: #fff;
}

section.sec6 .header {
  padding: 100px 0 0 100px;
}

  section.sec6 .header h1 {
    margin: 0;
    padding: 0;
    font-size: var(--h1-font-size);
    color: var(--contact-title-color);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  section.sec6 .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  
  section.sec6 .cube1, section.sec6 .cube2 {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 5s linear infinite;
  }

  section.sec6 .cube1 {
    width: var(--cube1_width);
    height: var(--cube1_height);
  }

  section.sec6 .cube2 {
    width: var(--cube2_width);
    height: var(--cube2_height);
  }

  @keyframes animate {
    from {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    to {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }

    section.sec6 .cube1 .top, section.sec6 .cube2 .top {
      position: absolute;
      top: 0;
      left: 0;
    }

    section.sec6 .cube1 .top {
      width: var(--cube1_width);
      height: var(--cube1_height);
      transform: rotateX(90deg) translateZ(calc(var(--cube1_width) / 2));
      background: var(--cube1_top);
    }

    section.sec6 .cube2 .top {
      width: var(--cube2_width);
      height: var(--cube2_height);
      transform: rotateX(90deg) translateZ(calc(var(--cube2_width) / 2));
      background: var(--cube2_top);
    }

    section.sec6 .cube1 div, section.sec6 .cube2 div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }

    section.sec6 .cube1 div span, section.sec6 .cube2 div span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    section.sec6 .cube1 div span{
      transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--cube1_width) / 2));
      background: linear-gradient(var(--cube1_top), var(--cube1_main));
    }

    section.sec6 .cube2 div span {
      transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--cube2_width) / 2));
      background: linear-gradient(var(--cube2_top), var(--cube2_main));
    }

    section.sec6 .cube1 .top::before, section.sec6 .cube2 .top::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(20px);
    }

    section.sec6 .cube1 .top::before{
      width: var(--cube1_width);
      height: var(--cube1_height);
      transform: translateZ(calc(var(--cube1_height) * -1.5));
      background: var(--cube1_main);
      box-shadow: 0 0 100px rgba(124, 95, 165, 0.2),
                  0 0 200px rgba(124, 95, 165, 0.4),
                  0 0 300px rgba(124, 95, 165, 0.6),
                  0 0 400px rgba(124, 95, 165, 0.8),
                  0 0 500px rgba(124, 95, 165, 1);
    }

    section.sec6 .cube2 .top::before {
      width: var(--cube2_width);
      height: var(--cube2_height);
      transform: translateZ(calc(var(--cube2_height) * -1.5));
      background: var(--cube2_main);
      box-shadow: 0 0 100px rgba(67, 12, 145, 0.2),
                  0 0 200px rgba(67, 12, 145, 0.4),
                  0 0 300px rgba(67, 12, 145, 0.6),
                  0 0 400px rgba(67, 12, 145, 0.8),
                  0 0 500px rgba(67, 12, 145, 1);
    }

    section.sec6 .form {
      min-width: 20rem;
      width: 55rem;
      padding: 4rem 2rem;
      border-radius: 1rem;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
    }

    section.sec6 .form .form-contact {
      width: 100%;
    }

    section.sec6 .wrapper {
      width: 100%;
      flex: 2;
      padding: 3rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }
    
    section.sec6 .wrapper .input-data {
      position: relative;
      margin: 2rem 0;
    }
    
    section.sec6 .wrapper .btn-area {
      position: relative;
      margin: 2rem 0;
      display: flex;
      justify-content: right;
    }
    
    section.sec6 .wrapper .name {
      height: 4rem;
      width: 68%;
    }
    
    section.sec6 .wrapper .tel {
      height: 4rem;
      width: 28%;
      float: right;
    }
    
    section.sec6 .wrapper .email {
      height: 4rem;
      width: 100%;
    }
    
    section.sec6 .wrapper .message {
      height: 15rem;
    }
    
    section.sec6 .wrapper .input-data input,
    section.sec6 .wrapper .input-data textarea {
      height: 100%;
      width: 100%;
      color: var(--contact-title-color);
      border: none;
      font-size: 1.7rem;
      background: linear-gradient(90deg, var(--contact-first-color), var(--contact-title-color)) left bottom/0 2px no-repeat,
                  linear-gradient(90deg, var(--contact-first-color), var(--contact-first-color)) left bottom/100% 2px no-repeat,
                  linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0)) left bottom/100% no-repeat;
      transition: background-size 0.3s ease;
    }
    
    section.sec6 .wrapper .input-data textarea {
      resize: none;
      margin: 1rem 0;
    }
    
    section.sec6 .wrapper .input-data label {
      position: absolute;
      bottom: 1rem;
      left: 0;
      color: var(--contact-first-color);
      pointer-events: none;
      font-size: 1.7rem;
    }
    
    section.sec6 .wrapper .input-data input:focus + label {
      transform: translateY(-2.5rem);
      color: var(--contact-title-color);
    }
    
    section.sec6 .wrapper .input-data textarea:focus + label {
      transform: translateY(-12.9rem);
      color: var(--contact-title-color);
    }
    
    section.sec6 .wrapper .input-data .input:not(:placeholder-shown).input:not(:focus) + label {
      transform: translateY(-2.5rem);
    }
    
    section.sec6 .wrapper .input-data .textarea:not(:placeholder-shown).textarea:not(:focus) + label {
      transform: translateY(-12.9rem);
    }
    
    section.sec6 .wrapper .input-data input:focus,
    section.sec6 .wrapper .input-data textarea:focus {
      background-size: 100% 2px, 100% 2px, 100%;
    }
    
    section.sec6 .wrapper .btn-area .submit-btn {
      font-size: 1.7rem;
      padding: 1rem 3rem;
      border-radius: 2.5rem;
      display: block;
      margin-left: auto;
      outline: none;
      border: none;
      color: var(--contact-first-color);
      cursor: pointer;
      background: var(--contact-title-color);
      border: 2px solid var(--contact-first-color);
      transition: 0.3s;
    }
    
    section.sec6 .wrapper .btn-area .submit-btn:hover {
      color: var(--contact-title-color);
      background: var(--contact-first-color);
      border: 2px solid var(--contact-first-color);
    }

  @media screen and (max-width: 1250px) {
    :root {
      --cube1_width: 50px;
      --cube1_height: 50px; 
      --cube2_width: 100px;
      --cube2_height: 100px;
    }
  }
