:root {
  /* Dimensões dos cubos */
  --cube1_width: 100px;
  --cube1_height: 100px; 
  --cube2_width: 200px;
  --cube2_height: 200px;
  /* Cores dos cubos */
  --cube1_main: #7c5fa5;
  --cube1_top: #0f0f18;
  --cube2_main: #430c91;
  --cube2_top: #110325;
  /* Paleta de cores */
  --contact-title-color: #7C5FA5;
  --contact-first-color: #430c91;
  --contact-input-color: #DADCE0;
  --contact-border-color: #80868B;
  --contact-bg-color: #161623;

  --contact-font: 'Roboto', sans-serif;
  --contact-normal-font-size: 1rem;
  --contact-small-font-size: 0.75rem;
}

section.sec6 {
  background: var(--contact-bg-color);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: #fff;
}

section.sec6 .header {
  padding: 100px 0 0 100px;
}

  section.sec6 .header h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: var(--contact-title-color);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  section.sec6 .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  
  section.sec6 .cube1, section.sec6 .cube2 {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 5s linear infinite;
  }

  section.sec6 .cube1 {
    width: var(--cube1_width);
    height: var(--cube1_height);
  }

  section.sec6 .cube2 {
    width: var(--cube2_width);
    height: var(--cube2_height);
  }

  @keyframes animate {
    from {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    to {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }

    section.sec6 .cube1 .top, section.sec6 .cube2 .top {
      position: absolute;
      top: 0;
      left: 0;
    }

    section.sec6 .cube1 .top {
      width: var(--cube1_width);
      height: var(--cube1_height);
      transform: rotateX(90deg) translateZ(calc(var(--cube1_width) / 2));
      background: var(--cube1_top);
    }

    section.sec6 .cube2 .top {
      width: var(--cube2_width);
      height: var(--cube2_height);
      transform: rotateX(90deg) translateZ(calc(var(--cube2_width) / 2));
      background: var(--cube2_top);
    }

    section.sec6 .cube1 div, section.sec6 .cube2 div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }

    section.sec6 .cube1 div span, section.sec6 .cube2 div span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    section.sec6 .cube1 div span{
      transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--cube1_width) / 2));
      background: linear-gradient(var(--cube1_top), var(--cube1_main));
    }

    section.sec6 .cube2 div span {
      transform: rotateY(calc(90deg * var(--i))) translateZ(calc(var(--cube2_width) / 2));
      background: linear-gradient(var(--cube2_top), var(--cube2_main));
    }

    section.sec6 .cube1 .top::before, section.sec6 .cube2 .top::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(20px);
    }

    section.sec6 .cube1 .top::before{
      width: var(--cube1_width);
      height: var(--cube1_height);
      transform: translateZ(calc(var(--cube1_height) * -1.5));
      background: var(--cube1_main);
      box-shadow: 0 0 100px rgba(124, 95, 165, 0.2),
                  0 0 200px rgba(124, 95, 165, 0.4),
                  0 0 300px rgba(124, 95, 165, 0.6),
                  0 0 400px rgba(124, 95, 165, 0.8),
                  0 0 500px rgba(124, 95, 165, 1);
    }

    section.sec6 .cube2 .top::before {
      width: var(--cube2_width);
      height: var(--cube2_height);
      transform: translateZ(calc(var(--cube2_height) * -1.5));
      background: var(--cube2_main);
      box-shadow: 0 0 100px rgba(67, 12, 145, 0.2),
                  0 0 200px rgba(67, 12, 145, 0.4),
                  0 0 300px rgba(67, 12, 145, 0.6),
                  0 0 400px rgba(67, 12, 145, 0.8),
                  0 0 500px rgba(67, 12, 145, 1);
    }

    section.sec6 .content .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 550px;
      padding: 4rem 2rem;
      border-radius: 1rem;
      position: relative;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
    }
    
    section.sec6 .content .contact-form .contact-field {
      position: relative;
      top: 0;
      left: 0;
      padding: 1rem;
      margin-bottom: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: var(--contact-normal-font-size);
      border: 1px solid var(--contact-border-color);
      border-radius: 0.5rem;
      color: var(--contact-input-color);
      outline: none;
      background: none;
      z-index: 1;
    }

    section.sec6 .content .contact-form input {
      height: 48px;
    }

    section.sec6 .content .contact-form textarea {
      height: 150px;
    }

    section.sec6 .content .contact-form .contact-label {
      position: relative;
      left: 1rem;
      top: -3.7rem;
      padding: 0 0.25rem;
      background-color: var(--contact-bg-color);
      color: var(--contact-input-color);
      font-size: var(--contact-normal-font-size);
      transition: 0.3s;
    }
  
    section.sec6 .content .contact-form label {
      width: 50px;
    }

    section.sec6 .content .contact-form .contact-button {
      display: block;
      margin-left: auto;
      padding: 0.75rem 2rem;
      outline: none;
      border: none;
      background-color: var(--contact-first-color);
      color: white;
      font-size: var(--contact-normal-font-size);
      border-radius: 0.5rem;
      cursor: pointer;
      transition: 0.3s;
    }

    section.sec6 .content .contact-form .contact-button:hover {
      box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
    }

    section.sec6 .content .contact-form .contact-field:focus + .contact-label {
      top: -5.125rem;
      left: 0.8rem;
      color: var(--contact-first-color);
      font-size: var(--contact-small-font-size);
      font-weight: 500;
      z-index: 10;
    }
    
    section.sec6 .content .contact-form .contact-field:not(:placeholder-shown).inputs:not(:focus) + .contact-label {
      top: 0.5rem;
      left: 0.8rem;
      font-size: var(--contact-small-font-size);
      font-weight: 500;
      z-index: 10;
    }
    
    section.sec6 .content .contact-form .contact-field:focus {
      border: 1.5px solid var(--contact-first-color);
    }
  
  @media screen and (max-width: 1250px) {
    :root {
      --cube1_width: 50px;
      --cube1_height: 50px; 
      --cube2_width: 100px;
      --cube2_height: 100px;
    }
  }
