.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #21222C;
  color: #FFFFFF;
  height: 116px;
  padding: 10px 20px;
  border-bottom: 2px solid #17181E;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 500px;
}

.menu {
  min-width: 450px;
  min-height: 50px;
  align-self: flex-end;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  direction: rtl;
}

.menu .btn{
  color: #FFFFFF;
  background: #191A21;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #17181E;
}

.menu .btn:hover{
  border: none;
  background: rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  padding: 13px 20px;
  color: #191A21;
  text-decoration: underline;
  border: 2px solid #282A36;
}

.main {
  padding: 0 20px;
  margin-top: 116px;;
  flex: 1;
  background-color: #343745;
  color: #FFFFFF;
  text-align: center;
  z-index: -1;
}

.footer {
  background-color: #191A21;
  color: #FFFFFF;
  height: 30px;
  padding: 0 20px;
  font-weight: bold;
  border-top: 2px solid #282A36;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer a {
  color: #52B7DF;
}

.footer .delimiters {
  color: #C26193;
}

.footer .values {
  color: #7C5FA5;
}

/*
.footer span {
  background: linear-gradient(
     to right,
     #CA6599 1%,
     #9372C2 10%,
     #9372C2 30%,
     #9372C2 50%,
     #9372C2 70%,
     #9372C2 91%,
     #CA6599 100%
   );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/
