:root {
  --h1-font-size: 6rem;
}

@media screen and (max-width: 570px) {
  :root {
    --h1-font-size: 5rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --h1-font-size: 4rem;
  }
}

section.sec3 {
  position: relative;
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #161623;
  color: #fff;
  min-height: 100vh;
}

  section.sec3 .blob {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 0;
  }

  section.sec3 .blob:nth-child(2) {
    filter: blur(50px);
  }
  
  section.sec3 h1 {
    margin: 0;
    padding: 0;
    font-size: var(--h1-font-size);
    color: #7C5FA5;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  
  section.sec3 p {
    font-size: 1.8rem;
    z-index: 0;
  }
